body{font-family:Arial;background:#f4f4f4;text-align:center}.container{max-width:700px;margin:40px
  auto;background:#fff;padding:25px;border-radius:12px}button{padding:10px 20px;margin:5px}input{font-size:18px;
  padding:8px}#progress{height:20px;background:#ddd}#bar{height:20px;background:#008C45;width:0}
